<?xml version="1.0" encoding="utf-8"?>
<Configuration>
  <SubscriptionName>Your-SubscriptionName</SubscriptionName>
  <ClusterName>HDInsightClusterName</ClusterName>
  <ClusterStorageAccountName>HDInsightStorageAccountName</ClusterStorageAccountName>
  <ClusterBinariesContainer>HDInsightBinariesContainer</ClusterBinariesContainer>
  <MapperBinary>RequestsMapper.exe</MapperBinary>
  <ReducerBinary>RequestsReducer.exe</ReducerBinary>
  <ClusterOutputContainer>ClusterOutputContainer</ClusterOutputContainer>
  <ClusterStatusContainer>ClusterStatusContainer</ClusterStatusContainer>
  <InputStorageAccountName>InputStorageAccountName</InputStorageAccountName>
  <InputStorageAccountKey>InputStorageAccountKey</InputStorageAccountKey>
  <InputContainer>InputContainer</InputContainer>
  <DeployBinaries>true</DeployBinaries>
  <DeployFlavor>Release</DeployFlavor>
  <JobTimeOut>3600</JobTimeOut>  
</Configuration>

