@page
@model IndexModel
@{
    ViewData["Title"] = "yuruna";
}

<div class="text-center">
    <h1 class="display-4">Welcome to yuruna</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>Get the code from <a href="https://github.com/alissonsol">GitHub</a>.</p>
</div>
